<div class="parts-wrapper">
    <div class="close-left parts">
        <!-- <img src="./assets/images/designer-img.png" /> -->
        <mat-card class="my-type-tab type-designer">
            <button (click)="playAudio('design')" class="uppercase" mat-button>
                Designer
              </button>        
        </mat-card>
    </div>
    <div class="close-right parts">
        <!-- <img src="./assets/images/developer-img.png" /> -->
        <mat-card class="my-type-tab type-developer">
            <button (click)="playAudio('develop')" class="uppercase" mat-button>
                Developer
              </button>  
        </mat-card>
    </div>
</div>