.parts {
  width: 50%;
  height: 100%;
  position: absolute;
}

.parts > img {
  width: 100%;
}

.my-type-tab {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 0px;
  color: #106869;
}

.my-type-tab > button {
    width: 100%;
    height: 100%;
    padding: 16px
}

.type-developer {
  background: #66d6d8;  
}

.type-designer {
  background: #27c6c9;
}

.close-left {
  background-color: #66d6d8;
  animation: closeLeft 1s;
  left: 0;
}

.close-right {
  background-color: #27c6c9;
  right: 0;
  animation: closeRight 1s;
}

@keyframes closeLeft {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes closeRight {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .nav-links-desktop {
    display: none;
  }
  .nav-links-mobile {
    display: block;
  }
}

.active-line {
  width: 100%;
  height: 3px;
  background: #b6624e;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 40px;
}

@media (min-width: 320px) and (max-width: 481px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .my-type-tab > button {
      width: 100%;
      font-size: 12px;
      padding: 0;
    }
    .my-type-tab {
      padding: 0;
    }
  }

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
