.spacer {
  flex: 1 1 auto;
}

.navbar {
  /* background-color: #ea907a83; */
  display: flex;
  background-color: transparent;
  background-color: #afd275;
}

.logo{
    position: absolute;
    z-index: 99999 !important;
}

.nav-links > button,
.logo,
.nav-links-mobile-content > button {
  text-transform: uppercase;
  color: #444;
  margin: 0 2px;
}
.active {
  color: #b6624e !important;
}
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-card {
  width: 100%;
  height: 100%;
  animation: gradient 15s ease infinite;
  background-color: #afd275;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.text-center {
  text-align: center;
}

.nav-links-mobile {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 100%;
}

.nav-links-mobile-content > button {
  display: block;
}

.nav-links-mobile{
    background-color: #afd275;
}

.nav-links-mobile-content > button {
    width: 100%;
    text-align: right;
    line-height: 3;
}

.nav-links-mobile-content{
}

.smokey-background {
  background-color: transparent !important;
}

.mat-expansion-panel-header.nav-link-header{
    background-color: #afd275 !important;
    height: 55px;
    border-radius: 0%;
}

.mat-expansion-panel {
    background-color: #fff !important;
}

.no-shadow {
  border: none;
  box-shadow: none;
}

.nav-close {
  display: none;
}

.toggle-menu-button {
  margin-top: 15px;
  width: 100%;
}

.menu-open {
  margin-top: 0px;
}

#toggle {
  width: 28px;
  height: 30px;
  float: right;
}

#toggle div {
  width: 100%;
  height: 2px;
  background: black;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle.on div {
  width: 80%;
}

#toggle.on .one {
  transform: rotate(45deg) translate(4px, 5px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: rotate(-45deg) translate(3px, -5px);
}

.nav-links {
  animation: revealFromTop 0.7s;
}

@keyframes revealFromTop {
  0% {
    transform: translate(0, -120%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes revealFromRight {
  0% {
    transform: translate(200%, 150%);
  }
  50% {
    transform: translate(100%, -10%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.nav-links-desktop button::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #b6624e;
  position: absolute;
  top: 40px;
  left: 0px;
  width: 0%;
  transition: all ease-in-out 500ms;
}

.nav-links-desktop button:hover::before {
  width: 100%;
}

.menu-backdrop {
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: none;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .nav-links-desktop {
    display: none;
  }
  .nav-links-mobile {
    display: block;
  }
}

.active-line {
  width: 100%;
  height: 3px;
  background: #b6624e;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 40px;
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .nav-links-desktop {
    display: block;
  }
  .nav-links-mobile {
    display: none;
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .nav-links-desktop {
    display: block;
  }
  .nav-links-mobile {
    display: none;
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .nav-links-desktop {
    display: block;
  }
  .nav-links-mobile {
    display: none;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .nav-links-desktop {
    display: block;
  }
  .nav-links-mobile {
    display: none;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .nav-links-desktop {
    display: block;
  }
  .nav-links-mobile {
    display: none;
  }
}
