<!-- Navbar starts -->
<mat-toolbar class="navbar">
  <span class="logo">PZ Kreations</span>
  <span class="spacer"></span>
  
  <!-- desktop view -->
  <div class="nav-links nav-links-desktop">
    <button mat-button class="active">
      <span>home</span>
    </button>
    <button mat-button>
      <span>about</span>
    </button>
    <button mat-button>
      <span>portfolio</span>
    </button>
    <button mat-button>
      <span>blog</span>
    </button>
    <button mat-button>
      <span>contact</span>
    </button>
  </div>
</mat-toolbar>

<!-- mobile view -->
<div class=" nav-links nav-links-mobile">
  <mat-accordion class="nav-links">
    <mat-expansion-panel class="smokey-background no-shadow" hideToggle (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header (click)="toggleMenuIcon()">
        <mat-panel-title>
          <button mat-icon-button class="icon toggle-menu-button" aria-label="icon-button with menu icon">
            <div id="toggle">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
            </div>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="nav-links-mobile-content">
        <button mat-button class="active">
          <span>home</span>
        </button>
        <button mat-button>
          <span>about</span>
        </button>
        <button mat-button>
          <span>portfolio</span>
        </button>
        <button mat-button>
          <span>blog</span>
        </button>
        <button mat-button>
          <span>contact</span>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- Navbar ends -->

<mat-card class="text-center intro-card">
  <div class="intro-content center">
    <p>
      Hi my name is Priyanka Zarekar
    </p>
    <span>
      Nice to see you <br>
      Welcome to my place!
    </span>
  </div>
</mat-card>