.spacer {
  flex: 1 1 auto;
}

.navbar {
  /* background-color: #ea907a83; */
  display: flex;
}

.nav-links > button,
.logo,
.nav-links-mobile-content > button {
  text-transform: uppercase;
  color: #444;
}
.active {
  color: #b6624e !important;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-card {
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}

.nav-links-mobile {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}

.nav-links-mobile-content > button {
  display: block;
}

.smokey-background {
  background-color: whitesmoke !important;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  background-color: whitesmoke !important;
}

.no-shadow {
  border: none;
  box-shadow: none;
}

.nav-close {
  display: none;
}

.toggle-menu-button {
  margin-top: 15px;
  margin-left: 70px;
}

.menu-open {
  margin-top: 0px;
}

#toggle {
  width: 28px;
  height: 30px;
  margin: 10px auto;
}

#toggle div {
  width: 100%;
  height: 2px;
  background: black;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle.on div {
  width: 80%;
}

#toggle.on .one {
  transform: rotate(45deg) translate(4px, 5px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: rotate(-45deg) translate(3px, -5px);
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .nav-links-desktop {
    display: none;
  }
  .nav-links-mobile {
    display: block;
  }
}
@media (min-width: 481px) { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .nav-links-desktop {
    display: block;
  }
  .nav-links-mobile {
    display: none;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .nav-links-desktop {
    display: block;
  }
  .nav-links-mobile {
    display: none;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .nav-links-desktop {
    display: block;
  }
  .nav-links-mobile {
    display: none;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .nav-links-desktop {
    display: block;
  }
  .nav-links-mobile {
    display: none;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .nav-links-desktop {
    display: block;
  }
  .nav-links-mobile {
    display: none;
  }
}
