<!-- Navbar starts -->
<mat-toolbar class="navbar">
  <span class="logo">PZ Kreations</span>
  <span class="spacer"></span>

  <!-- desktop view -->
  <div class="nav-links nav-links-desktop">
    <button mat-button class="active">
      <span>home</span>
      <div class="active-line open-tab"></div>
    </button>    
    <button mat-button>
      <span>about</span>
      <div class="open-tab"></div>
    </button>
    <button mat-button>
      <span>portfolio</span>
      <div class="open-tab"></div>
    </button>
    <button mat-button>
      <span>blog</span>
      <div class="open-tab"></div>
    </button>
    <button mat-button>
      <span>contact</span>
      <div class="open-tab"></div>
    </button>
  </div>
</mat-toolbar>

<!-- mobile view -->
<div class=" nav-links nav-links-mobile">
  <mat-accordion>
    <mat-expansion-panel class="smokey-background no-shadow" hideToggle (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="nav-link-header" (click)="toggleMenuIcon()">
        <mat-panel-title>
          <button [disableRipple]="true" mat-icon-button class="icon toggle-menu-button" aria-label="icon-button with menu icon">
            <div id="toggle">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
            </div>
          </button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="nav-links-mobile-content">
        <button mat-button class="active">
          <span>home</span>
        </button>
        <button mat-button>
          <span>about</span>
        </button>
        <button mat-button>
          <span>portfolio</span>
        </button>
        <button mat-button>
          <span>blog</span>
        </button>
        <button mat-button>
          <span>contact</span>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- Navbar ends -->
<div class="menu-backdrop"></div>
<mat-card style="width: 100%; height: 100%; padding: 0;">
  <!-- class="text-center intro-card" -->
  <!-- <div class="intro-content center"> -->
    <app-introduction></app-introduction>
  <!-- </div> -->
</mat-card>