<div class="tab-content-wrapper">
    <div class="card-wrapper">

        <ul>
            <li>
                <mat-card>
                    <mat-card class="card-content">
                        <div class="img-holder">

                        </div>
                        <span>Description</span>
                    </mat-card>
                </mat-card>
            </li>
            <li>
                <mat-card>
                    <mat-card class="card-content">
                        <div class="img-holder">

                        </div>
                        <span>Description</span>
                    </mat-card>
                </mat-card>
            </li>
            <li>
                <mat-card>
                    <mat-card class="card-content">
                        <div class="img-holder">

                        </div>
                        <span>Description</span>
                    </mat-card>
                </mat-card>
            </li>
            <li>
                <mat-card>
                    <mat-card class="card-content">
                        <div class="img-holder">

                        </div>
                        <span>Description</span>
                    </mat-card>
                </mat-card>
            </li>
            <li>
                <mat-card>
                    <mat-card class="card-content">
                        <div class="img-holder">

                        </div>
                        <span>Description</span>
                    </mat-card>
                </mat-card>
            </li>
            <li>
                <mat-card>
                    <mat-card class="card-content">
                        <div class="img-holder">

                        </div>
                        <span>Description</span>
                    </mat-card>
                </mat-card>
            </li>
            <li>
                <mat-card>
                    <mat-card class="card-content">
                        <div class="img-holder">

                        </div>
                        <span>Description</span>
                    </mat-card>
                </mat-card>
            </li>
        </ul>


    </div>

</div>